header {
    background: var(--gradientCombine);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

nav ul a {
    color: white;
    margin: 0 0 0 50px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    flex-wrap: wrap;
    /*border: 3px solid deeppink;*/
}

.logo {
    display: flex;
    max-width: 250px;
}


