.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--tileColor);
    width: 350px;
    height: 160px;
    margin: 20px;
}


.article-bottum {
    display: flex;
    flex-direction: column;
    color: grey;
}
